<header class="home-header">
  <div class="home-header__wrapper">
    <p-avatar
      image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
      styleClass="mr-2"
      shape="circle"
      class="home-header__wrapper__avatar"
    ></p-avatar>
    <nav class="home-header__wrapper__navigation">
      <i class="pi pi-home home-header__wrapper__navigation__link__icon"></i>
      <i class="pi pi-eye home-header__wrapper__navigation__link__icon"></i>
    </nav>
  </div>
</header>
